<!DOCTYPE html>
<html lang="en">
<head>
	<title>Restaurant onBoarding Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('form').submit(function(event) {
      	$('#successMessage').hide();
    	  $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : 'resources/restaurant', // the url where we want to POST
            contentType : 'application/json',
            data        : JSON.stringify({name : $('#restroname').val(), street : $('#streetname').val(),location: $('#location').val(), city: $('#cityselect').val(),capacity: $('#capacity').val(),contactNumber:$('#contactNumber').val()}), // our data object
            async		:false,
            success     : function(data){
            
            $('#successMessage').show();
             
	        }
        });
        event.preventDefault();
    });
});
var validationApp = angular.module('validationApp', []);
validationApp.controller('validateCtrl', function($scope,$http) {
	 $scope.city = 'Pune';
    // function to submit the form after all validation has occurred            
   });

</script>
</head>
<body ng-app="validationApp"  ng-controller="validateCtrl">
	<div class="bg"></div>
	<div class="container jumbotron" >
	
		<h2 align="center">Restaurant onBoarding Form</h2>
			<div class="alert alert-success" id="successMessage" style="display:none"> Restaurant has been on Boarded successfully</div>			
		
		<form name="restroForm"  novalidate>
		<table align="center" class="table" style="width:30%;" >
		<tr ><td>
			<div class="form-group" ng-class="{ 'has-error' : restroForm.restroname.$invalid && !restroForm.restroname.$pristine }">
				<label for="restroname">Restaurant Name*:</label> 
				<input type="text" name="restroname" class="form-control" id="restroname" ng-model="restaurant.name"
					placeholder="Enter Restaurant Name" required>
 				<span ng-show="restroForm.restroname.$invalid  && !restroForm.restroname.$pristine" class="help-block">Restaurant Name is required.</span>
			</div>
		</td></tr>
		<tr ><td>
		  	<div class="form-group" ng-class="{'has-error' :restroForm.streetname.$invalid && !restroForm.streetname.$pristine}">
				<label for="streetname">Street Name*:</label> 
				<input type="text" class="form-control" id="streetname" ng-model="restaurant.street" name="streetname"
					placeholder="Enter Street Name" required>
 				<span class="help-block" ng-show="restroForm.streetname.$invalid && !restroForm.streetname.$pristine" >Street Name is required.</span>
			</div>
		</td></tr>
		<tr ><td>
		 	<div class="form-group" ng-class="{'has-error' :restroForm.location.$invalid && !restroForm.location.$pristine}">
				<label for="location">Location*:</label> 
				<input type="text" ng-model="restaurant.location" name="location" 
					class="form-control" id="location" placeholder="Enter Location" required>
 				<span class="help-block" ng-show="restroForm.location.$invalid && !restroForm.location.$pristine">Location is required.</span>
			</div>
			</td></tr>
			<tr ><td>
			<div class="form-group" ng-class="{'has-error' :restroForm.city.$invalid && !restroForm.city.$pristine}">
				<label for="cityselect">City*:</label>
				<select class="form-control" name="city" ng-model="city"
					id="cityselect">
					<option>Pune</option>
					<option>Mumbai</option>
					<option>Chennai</option>
					<option>Bangalore</option>
				</select>
 				<span class="help-block" ng-show="restroForm.city.$invalid && !restroForm.location.$pristine">City is required.</span>
			</div>
			</td></tr>
			<tr ><td>
			<div class="form-group" ng-class="{'has-error' :restroForm.capacity.$invalid && !restroForm.capacity.$pristine}">
				<label for="capacity">Capacity*:</label> 
				<input type="number" ng-model="restaurant.capacity" name="capacity" id="capacity" ngPattern="1234567890 " ng-maxlength="10"
					class="form-control" placeholder="Enter Capacity" required>
 				<span class="help-block" ng-show="restroForm.capacity.$error.required && !restroForm.capacity.$pristine && !restroForm.capacity.$error.number">Capacity is required.</span>
 				<span class="help-block" ng-show="restroForm.capacity.$error.number">Invalid Capacity!!</span>
			</div>
			</td></tr>
			<tr ><td>
			<div class="form-group" ng-class="{'has-error' :restroForm.contactnumber.$invalid && !restroForm.contactnumber.$pristine}">
				<label for="contactno">Contact Number*:</label> 
				<input type="number" ng-model="restaurant.contactNumber" name="contactnumber" id="contactNumber" ngPattern="1234567890 " ng-maxlength="10"
					class="form-control" placeholder="Enter Contact Number" required>
 				<span class="help-block" ng-show="restroForm.contactnumber.$error.required && !restroForm.contactnumber.$pristine && !restroForm.contactnumber.$error.number">Contact Number is required.</span>
 				<span class="help-block" ng-show="restroForm.contactnumber.$error.number">Invalid Contact Number!!</span>
 				<span class="help-block" ng-show="restroForm.contactnumber.$error.maxlength">Contact Number is too long</span>
			</div>
			</td></tr>
			<tr><td>
			<button type="reset" class="btn btn-info">Reset</button> 
			<button type="submit" class="btn btn-info" ng-disabled="restroForm.$invalid" >Submit</button>
			</td></tr>
		</form>
	</div>

</body>
</html>