<!DOCTYPE html>
<html lang="en">
<head>
	<title>Restaurant onBoarding Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<body>
<script>
function restroController($scope) {
	$scope.fname = "FName",
	$scope.lname = "LName",
	$scope.fullName = function() {
        return $scope.fname + " " + $scope.lname;
    }
	
}
</script>
	<div class="container" ng-app="" ng-controller="restroController">
	First Name: <input type="text" ng-model="fname"><br>
Last Name: <input type="text" ng-model="lname"><br>
<br>
Full Name: {{fullName()}}
		<h2>Restaurant onBoarding Form</h2>
		<form role="form">
			<div class="form-group">
				<label for="restroname">Restaurant Name:</label> <input type="text"
					class="form-control" id="restroname"
					placeholder="Enter Restaurant Name">
			</div>
			<div class="form-group">
				<label for="streetname">Street Name:</label> <input type="text"
					class="form-control" id="streetname"
					placeholder="Enter Street Name">
			</div>
			<div class="form-group">
				<label for="location">Location:</label> <input type="text"
					class="form-control" id="location" placeholder="Enter Location">
			</div>
			<div class="form-group">
				<label for="cityselect">City:</label> <select class="form-control"
					id="cityselect">
					<option>Pune</option>
					<option>Mumbai</option>
					<option>Chennai</option>
					<option>Bangalore</option>
				</select>
			</div>
			<div class="form-group">
				<label for="capacity">Capacity:</label> <input type="text"
					class="form-control" id="capacity" placeholder="Enter Capacity">
			</div>
			<div class="form-group">
				<label for="contactno">Contact Number:</label> <input type="text"
					class="form-control" id="city" placeholder="Enter Contact Number">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>

</body>
</html>